
body {
    background-image: url('../../assets/static_bg_v1.jpg');
    background-size: cover;
}

.gameslist-parent {
    overflow-y: hidden;
}

#dropdown-basic {
    padding: 0 10px;
}

#user-settings__gear {
    font-size: 2em;
}

.delete-btns-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

#delete-modal__title {
    text-align: center;
    width: 100%;
}

.gameslist-games-container {
    position: relative;
}

.col-xl-3,
.col-lg-4, 
.col-lg-4, 
.col-12 {
    position: relative;    
}

.gameslist-games__filters {
    display: flex;
    justify-content: space-around;
}

.gameslist-games__filters .btn-primary {
    margin-top: 40px;
}

.gameslist-game__filter-label {
    color: white;
}

.gameslist-games__search-container {
    align-self: baseline;
    margin-bottom: 3px;
}

#gameslist-games__search {
    width: 100%;
    align-self: flex-end;
}

.gameslist-game__submit {
    margin-left: 2%;
}



.gameslist-game__bg-blur {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 356px;
    height: 516px;
    z-index: -1;
    left: -3%;
    filter: blur(29px);
    /* -webkit-filter: blur(25px); */
    top: -9%;
    opacity: 0.65;
}

.gameslist-games {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.gameslist-results__pages {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gameslist-results__pages__nav {
    width: 9%;
}

.gameslist-results__pages__nav:hover {
    cursor: pointer;
}

.gameslist-results__pages__num {
    margin-left: 10%;
    margin-right: 10%;
    width: 10%;
    text-align: center;
    font-size: 2em;
}

.gameslist-game {
    /* margin-left: 2%;
    margin-right: 2%; */
    margin-bottom: 33%;
}

.gameslist-game__img:hover {
    cursor: pointer;
}

.gameslist-game__img,
.gameslist__search-game img {
    width: 390px;
    height: 220px;
}

.gameslist__game-info-flex {
    display: flex;
    justify-content: space-around;
    color: white;
}

.gameslist-game__rating label {
    color: white;
}

/* .gameslist-game__date-container {
    margin-top: 8%;
} */

.user-game__rating__num {
    font-size: 2em;
}

#gameslist-game-flex-container {
    justify-content: space-around;
}

.gameslist-game__summary {
    resize: none;
    margin-bottom: 5%;
}

.gameslist-game textarea,
.gameslist__search-game textarea {
    margin-top: 4%;
    height: 100px;
    width: 100%;
}

.gameslist-btn-container {
    display: flex;
    justify-content: space-around;
}

.gameslist-game__title {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 378px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
    font-size: 1.5em;
    color: white;
    margin-top: 2%;
}

.gameslist-game__add-btn {
    align-self: baseline;
    width: 10%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2px;
}

.gameslist-game__filter-btn {
    align-self: baseline;
}

.gameslist-game p:hover {
    cursor: pointer;
}

.gameslist-games__update {
    background-color: rgba(0,0,0, 0.75);
    position: fixed;
    left: 41%;
    top: 53%;
    width: 300px;
    color: white;
    height: 100px;
    border-radius: 6px;
    padding: 1%;
}

.gameslist-games__update p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.gameslist-games__update__close {
    position: absolute;
    right: 2%;
    font-size: 1.5em;
    top: 0%;
    font-weight: bold;
    cursor: pointer;
}

.gameslist-game__no-results {
    text-align: center;
    width: 100%;
}

.gameslist__game-img,
.gameslist-game-summary {
    width: 100%;
}

.gameslist-game-summary {
    height: 100px;
}

#discover {
    max-width: 80%;
}

#discover__title-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#discover__title-flex button {
    align-self: center;
}

.modal-btn {
    width: 30%;
    box-shadow: initial;
    padding: 11px 5px;
}

.modal-btn:hover {
    cursor: pointer;
}