.user-games-container {
    position: relative;
}

.user-games {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.user-game {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

.user-game img {
    width: 390px;
    height: 250px;
}

.user-game textarea {
    margin-top: 4%;
    height: 50px;
}

.user-game p {
    background-color: #8E43FC;
    color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 3px 5px 2px #313030;
}

.user-game p:hover {
    cursor: pointer;
}

.user-games__update {
    background-color: rgba(0,0,0, 0.75);
    position: fixed;
    left: 41%;
    top: 53%;
    width: 300px;
    color: white;
    height: 100px;
    border-radius: 6px;
    padding: 1%;
}

.user-games__update p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.user-games__update__close {
    position: absolute;
    right: 2%;
    font-size: 1.5em;
    top: 0%;
    font-weight: bold;
    cursor: pointer;
}