.faq-container {
    margin-top: 3%;
}

.faq-head {
    font-size: 3em
}

.faq-item h2 {
    font-size: 2.5em;
}

.faq-item p {
    font-size: 1.75em;
}

.faq-head,
.faq-item {
    color: white;
    font-family: vt323
}