#profile-results-container {
    padding-bottom: 5%;
}

.profile-intro-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 95.8%;
}

.profile-intro-flex__user__name {
    display: flex;
}

.profile-intro-flex__user__name img {
    margin-left: 6%;
    width: 34%;
}

.user-profile__img {
    width: 250px !important;
}

.profile-intro-flex__user__name h1 {
    font-family: vt323;
    margin-left: 3%;
    font-size: 3em;
    margin-bottom: -2%;
}

.profile-intro__action {
    margin-left: 4%;
    font-family: Roboto;
}

.user-profile__icons {
    align-self: end;
    width: 15%;
}

.user-profile__icons:hover {
    cursor: pointer;
}

.game-data-container {
    align-self: baseline;
}

.user-game__sort,
.user-game__modal__close-btn {
    color: #8E43FC;
    font-family: Roboto;
}

.user-game__filter-container {
    justify-content: space-around;
    width: 43%;
    margin-right: 23%;
}

.gameslist-game__filter-container {
    align-self: center;
}

.gameslist-game__filter-btn {
    width: 100%;
}

.user-game__socials-dropdown-btn {
    display: none;
}

.gameslist-game__filter__sort-arrow {
    width: 50px;
    color: white;
}

.user-game__search__form {
    font-family: Roboto;
    color: white;
    /* background-image: url('../../assets/search.png') */
}

.user-game__search.form-control {
    color: white;
}

.user-game__filter-sorting__flex-item__search {
    margin-right: 3.4%;
}

.user-game__search {
    background: transparent !important;
}

.user-game__search::placeholder, 
.profile__filter-label {
    color: white;
}

.user-game {
    display: flex;
  flex-direction: column;
  /* width: 30%; */
  align-items: center;
  position: relative;
}

.user-game__bg-blur {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    /* width: 456px;
    height: 643px; */
    width: 100%;
    height: 113%;
    z-index: -1;
    left: 0%;
    filter: blur(29px);
    /* -webkit-filter: blur(25px); */
    top: -9%;
    opacity: 0.65;
}

.user-game__search-game {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.user-game__filter-sorting {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Roboto;
    width: 90%;
}

.user-game__img:hover {
    cursor: pointer;
}

.user-game__img {
    width: 77%;
    /* height: 220px; */
    aspect-ratio: 16/9;
    object-fit: cover;
}

.user-game__date-flex {
    display: flex;
    font-family: Roboto;
}

.user-game__date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    color: #ffffff;
}

.user-game__date-container label {
    margin: 15x 10px;
}

.user-game__date__label {
    margin-bottom: 0;
}

.user-game__title {
    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
    text-align: left;
    width: 66%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-family: vt323;
    color: white;
}

.user-game__rating {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.user-game__summary {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
    display: -webkit-box;
    max-width: 300px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: white;
    font-family: Roboto;
}

.profile-game__summary {
    color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    border: 1px solid #ffffff3d;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    overflow-y: scroll;
}

.user-game__rating {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}

.user-game__rating__red {
    color: #CC0000;
    font-weight: bolder;
}

.user-game__rating__yellow {
    color: #FFD102;
    font-weight: bolder;
}

.user-game__rating__green {
    color: #33FF00;
    font-weight: bolder
}

.user-game__status-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.user-game__date-flex-item {
    width: 33%;
}

.user-game__status__label {
    margin-bottom: 0;
}

.user-game__summary-container h3 {
    color: white;
    font-family: Roboto;
}

.user-game__readmore {
    color: #00F0FF;
}

.user-game__readmore:hover {
    cursor: pointer;
    text-decoration: underline;
}

.user-game__modal-container {
    background: linear-gradient(179deg, rgba(42, 123, 155, 1) 0%, rgba(106, 0, 138, 1) 0%, rgba(76, 1, 99, 1) 51%, rgba(46, 1, 46, 1) 100%);
}

.user-game__status-container__modal, .user-game__rating-container__modal {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-family: Roboto;
}

.user-game__rating-container__modal {
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#user-game__modal {
    background-color: rgba(0, 0, 0, 0.85);
    height: 78vh;
    width: 73%;
    position: fixed;
    z-index: 9999999;
    top: 12%;
    left: 14%;
}

.user-game__detail-flex-item {
    width: 30%;
}

.user-game__modal__close:hover {
    cursor: pointer;
}

.user-game__modal__close {
    color: white;
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 2em;
}

.user-game__modal__text,
.user-game__modal__title,
.user-game__modal__summary,
.user-game__modal__rank,
.user-game__modal__date,
.user-game__modal__rating {
    color: white;
}

.user-game__modal__flex,
.user-game__modal__text-flex {
    display: flex;
    justify-content: space-around;
}

.user-game__modal__text-container {
    margin-top: 2%;
    width: 76%;
}

.user-game__modal__summary {
    font-size: 1.25em;
}

.user-game__modal__text-flex {
    display: flex;
    justify-content: space-between;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
}

.user-game__modal__flex {
    margin-top: 5%;
    width: 90%
}

.user-game__modal__img {
    width: 60%;
}

#user-game__modal {
    overflow-y: scroll;
}

.user-game__no-results {
    text-align: center;
    width: 100%;
}

.user-game__nogame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.Toastify__toast-container--top-center {
    width: 20%;
}

/* @media (min-width: 768px) and (max-width: 1439px) {
    .profile-results {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .user-game {
        width: 50%;
    }

    #user-game__modal {
        top: 1%;
        left: 7%;
        width: 85%;
    }

    .user-game__modal__text-container {
        width: 100%;
    }

    .user-game__modal__flex {
        flex-direction: column;
        width: 100%;
    }

    .user-game__modal__summary {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
} */

/* @media (min-width: 375px) and (max-width: 767px) {
    .profile-results {
        flex-direction: column;
    }

    .user-game {
        width: 100%;
    }

    .user-game__img img {
        width: 100%;
    }

    #user-game__modal {
        width: 100%;
        height: 100vh;
        left: 0%;
        top: 0%;
    }

    .user-game__modal__img {
        width: 90%;
    }

    .user-game__modal__flex {
        flex-direction: column;
        width: 100%;
    }

    .user-game__modal__text-container {
        width: 100%;
    }

    .user-game__modal__summary {
        font-size: 1.15em;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
} */

@media (min-width: 900px) and (max-width: 1400px) {
    .profile-intro-flex__user__name h1 {
        font-size: 2.5em
    }
}

@media (min-width: 375px) and (max-width: 811px) {
    .profile-intro-flex {
        flex-direction: column-reverse;
    }

    .profile-intro-flex__user__name {
        flex-direction: column;
    }

    .profile-intro-flex__user__name img {
        align-self: center;
    }

    .profile-intro__action {
        width: 100%;
    }

    .user-game__filter-container {
        justify-content: space-around;
        width: 100%;
        margin-right: 3%;
        flex-wrap: wrap;
    }

    .user-game__filter-sorting {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;;
    }

    .user-game__filter-sorting__flex-item {   
        width: 40%;
     }

     .user-game__filter-sorting__flex-item__search {
        width: 75% !important;
     }

     .profile-intro-flex__user__name h1 {
        align-self: center !important;
     }

    .game-data-container {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
    }
}