.donate-container {
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2%;
}

.donate-container h1,
.donate-container h2 {
    font-family: vt323;
}

.donate-container p {
    font-family: Roboto;
}