@font-face {
    font-family: vt323;
    src: url("../../assets/fonts/VT323-Regular.ttf");
}

.auth-nav__logo {
    width: auto;
    height: 100px;
}

.auth-nav__profile-img-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    /* margin-top: 10px; */
}

.auth-nav__profile-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* width: 17%; */
    flex-direction: row-reverse;
}

#auth-nav__profile__name {
    margin-right: 1.5%;
    color: white;
    align-self: flex-end;
    margin-bottom: 3%;
    font-family: Roboto;
}

#auth-nav__profile-img {
    width: 75px;
}

#user-settings__gear {
    color: white;
    margin: 0 10px;
}

.dropdown {
    margin-right: 1.5%;
    margin-bottom: 0.25%;
    align-self: flex-end;
}

.dropdown-menu {
    z-index: 9999;
}

.dropdown a {
    text-decoration: none;
}

.dropdown-link {
    color: black;
}

.auth-nav {
    display: flex;
    justify-content: space-around;
    background-color: #8E43FC;
    padding: 15px 0px;
    margin-top: 8px;
}

.auth-nav__link {
    font-family: vt323;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.auth-nav__link__selected {
    color: #FCB500;
}

.auth-nav__link:hover {
    text-decoration: underline;
}

p.auth-nav__link {
    margin: 0;
}

p.auth-nav__link:hover {
    cursor: pointer;
}