.search-results, .profile-results {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: baseline;
}

.search-game__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 378px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
}

.search-game, .profile-game {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

.search-game {
    width: 25%;
    align-items: center;
}

.search-game img {
    width: 302px;
    height: 222px;    
}



.profile-game img {
    width: 390px;
    height: 250px;
}

.search-game textarea {
    margin-top: 4%;
    height: 50px;
}

.search-game p,
.custom-game__add-btn {
    background-color: #8E43FC;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    box-shadow: 2px 3px 5px 2px #313030;
    margin-top: 4%;
}

.search-game p:hover,
.custom-game__add-btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 12px 6px #313030;
    transition: 500ms;
}

.search-game__rating {
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
    margin-bottom: 2%;
}

.search-game__status {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.search-result__added {
    background-color: #a9a9a9 !important;
    color: black !important;
}

.custom-game-container form{
    display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.custom-game__field {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#custom-game__game-type {
    display: flex;
    justify-content: space-around;
}

#custom-game__notif {
    display: none;
}